﻿/* Add lines to all tables */
table, tr, td
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

/* Make sure all cells aren't too cramped */
th, td
{
    min-width: 30px;
}

/* Make the headers stand out! */
th
{
    font-weight: bold;
}

/* Add a bit of space to buttons */
.button
{
    margin-top: 10px;
    margin-bottom: 10px;
}